<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <di기v class="py-5 text-center">
        <h2>게시판 목록</h2>
    </di기v>
    <h4 class="mb-3" th:text="|닉네임: ${loginMember?.nickname}|">로그인 사용자 이름</h4>

    <!--
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/items/add}'|"
                        type="button">상품 등록
                </button>
            </div>
        </div>
    -->
    <form th:object="${boardSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{nickname}" class="form-control" placeholder="글쓴이"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            onclick="location.href='addForm.html'"
                            th:onclick="|location.href='@{/boards/add}'|"
                            type="button">글쓰기
                    </button>
                </div>
            </div>
        </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>글 제목</th>
                <th>글쓴이</th>
                <th>추천수</th>
                <th>조회수</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td style="width: 60%">
                    <a href="board.html" th:href="@{|/boards/${board.boardId}|}" th:text="${board.title}">글 제목</a>
                </td>
                <td th:text="${board.member.getNickname()}">작성자</td>
                <td th:text="${board.getBoardLike()}"></td>
                <td th:text="${board.getBoardViewCount()}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${boards.totalPages > 1}">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:classappend="${boards.first} ? 'disabled'">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=0, size=${boards.size})}">
                        First
                    </a>
                </li>
                <li th:classappend="${boards.hasPrevious} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${boards.number - 1}, size=${boards.size})}">
                        Previous
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, boards.totalPages - 1)}" th:classappend="${page == boards.number} ? 'active'">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${page}, size=${boards.size})}">
                        <span th:text="${page + 1}"></span>
                    </a>
                </li>
                <li th:classappend="${boards.hasNext} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${boards.number + 1}, size=${boards.size})}">
                        Next
                    </a>
                </li>
                <li th:classappend="${boards.last} ? 'disabled'">
                    <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${boards.totalPages - 1}, size=${boards.size})}">
                        Last
                    </a>
                </li>
            </ul>
        </nav>
    </div>



    <!--    <nav>-->
<!--        <ul class="pagination justify-content-center"-->
<!--            th:with="">-->
<!--            <li class="page-item" th:class="${boards.first ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${boards.number} - 1, size=${boards.size})}">-->
<!--                    Previous-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item" th:class="${boards.last ? 'disabled' : ''}">-->
<!--                <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${boards.number} + 1, size=${boards.size})}">-->
<!--                    Next-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav> -->
    <form th:action="@{/boards/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            로그아웃
        </button>
    </form>


</div> <!-- /container -->

</body>